h1{
    background-color: brown;
    color: white;
}

.first-p{
    background-color: aqua;
    color: chartreuse;
}

.head{
    background-color: blue;
    color: black;
}

.list{
    color: red;
}